@charset "UTF-8";
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,blockquote {
	margin:0;
	padding:0;
}
img {
	border:0
}
ul,ol,li,form,dl {
	list-style:none
}
a{
	text-decoration:none;
	color:#333
}
a:hover {
	color:#f70
}
TD {
	color:#777;
	font-size:12px;
	padding:10px
}
html {
	font-size:18px
}

/**定义滚动条样式**/
.define-scrollbar::-webkit-scrollbar{
	width: 6px;
	height: 6px;
}

.define-scrollbar::-webkit-scrollbar-track-piece {
	background:#eee
}

.define-scrollbar::-webkit-scrollbar-thumb:vertical {
	background:#666
}

body {
	color:#333;
	font-size:14px;
	font-family:"Helvetica neue",Helvetica,Tahoma,"lantinghei sc","Microsoft Yahei",sans-serif;
	-webkit-font-smoothing:antialiased;
}

body:before{
	content: '';
	display: block;
	height: 50px;
}

a,a:active {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent
}


.app_nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.nav_body{
	position: absolute;
	border-top: 2px solid #f70;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background: #fff;
	box-shadow: 0 0 5px #5a5a5a
}

.grid-row{
	width: 1500px;
	position: relative;
	zoom: 1;
	margin: auto;
}

/*导航栏各菜单样式 ul li的margin 和 padding 都需要清空*/
.nav{
	float: left;
	margin: 0;
	padding: 0;
}

.nav li{
	float: left
}

.nav li a.cur{
	color: #f70
}

.nav li a{
	display: block;
	height: 48px;
	padding: 0 15px;
	outline: 0;
	overflow: hidden;
	line-height: 48px;
	color: #7d7373;
	text-align: center;
	font-size: 16px;
	transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-o-transition:all .2s linear
}

.nav li a span{
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
}

.nav li a:hover{
	color: #f70;
}

.side{
	float: right;
	height: 48px;
	font-size: 0;
	padding: 0;
}

.side li{
	display: inline-block;
	height: 48px;
	line-height: 48px;
	padding: 0 10px;
}

.side li a{
	font-size: 14px;
	color: #7d7373;
}

.side li a:hover{
	color: #f70;
}


/*当屏幕大小小于1550px时，调整grid-row的宽度*/
@media screen and (max-width: 1550px){
	html{
		font-size: 16px;
	}
	.grid-row{
		width: 1200px;
	}
}

/*适应手机屏幕大小*/
@media screen and (max-width: 650px){
	.grid-row{
		width: 100%;
	}
}


/**文章正文设置**/
.app_container {
	position: relative;
	overflow: hidden;
}

.gallayer{
	position: fixed;
	z-index: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
}

.gallayer:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(/image/mask_f70d8a0.png);
}
.indeCnt section{
	position: relative;
	font-size: 1rem;
}

.index-aboutme{
	padding:25vh 0 26vh;
	text-align: center;
	overflow: hidden;
}

.index-aboutme h3{
	margin-bottom: .5em;
	line-height: 1em;
	font-size: 1.6em;
	font-weight: 500;
}

.index-aboutme p{
	margin-bottom: 2em;
	font-size: 1.1em;
}

.index-aboutme .avatar{
	width: 150px;
	height: 150px;
	margin: 0 auto 1.5em;
	border-radius: 100%;
	border: 5px solid #fff;
	background: url(/image/avatar.jpg) #fff;
	transition:all .4s ease-out;
	-moz-transition:all .4s ease-out;
	-webkit-transition:all .4s ease-out;
	-o-transition:all .4s ease-out
}

.index-aboutme .avatar:hover{
	transform: rotate(200deg);
	-webkit-transform:rotate(200deg)
}


.index-aboutme .my-sns-links a{
	display: inline-block;
	vertical-align: middle;
	width: 2.2em;
	height: 2.2em;
	margin: 0 5px;
	line-height: 2.2em;
	border: 1px solid rgba(0,0,0,.8);
	border-radius: 100%;
	font-size: 1.3em;
	color: #000;
	opacity: .7;
	transition:all .2s ease;
	-moz-transition:all .2s ease;
	-webkit-transition:all .2s ease;
	-o-transition:all .2s ease
}

.index-aboutme .my-sns-links a:hover {
	opacity:1
}

.l-icon{
	font-family: layIcon;
	font-style: normal;
}

.l-icon-git:after {
	content:'\0054'
}


.l-icon-zhihu:after {
	content:'\0069'
}

.l-icon-dribbble:after {
	content:'\006a'
}

.l-icon-layLogo:after {
	content:'\0049'
}


@font-face {
	font-family:layIcon;
	src:url(//dn-lay.qbox.me/build/single-page/fonts/layicon-webfont_94c03fc.eot?v=3);
	src:url(//dn-lay.qbox.me/build/single-page/fonts/layicon-webfont_94c03fc.eot?v=3#iefix) format("embedded-opentype"),url(//dn-lay.qbox.me/build/single-page/fonts/layicon-webfont_e62b79d.woff?v=3) format('woff'),url(//dn-lay.qbox.me/build/single-page/fonts/layicon-webfont_54d75ce.ttf?v=3) format("truetype"),url(//dn-lay.qbox.me/build/single-page/fonts/layicon-webfont_939fbba.svg?v=3#layicon-webfont) format("svg");
	font-weight:400;
	font-style:normal
}


/**脚注样式**/
.app-footer{
	position: relative;
	padding: 32px 0;
	background: #333;
	color:#888;
}

.app-footer .grid-box-full{
	border-top: 1px solid #444;
	padding: 32px 0;
	text-align: center;
}

.grid-row .grid-box-full{
	width: 100%;
	float: none!important;
	clear: both;
}


.app-footer p{
	margin-bottom: 1em;
}

.app-footer a{
	color: #888;
	transition: .1s
}

.app-footer a:hover{
	color: #FFF;
	text-decoration: underline;
}

/**blog下的样式配置**/

.articleListPage{
	min-height: 600px;
	padding-bottom: 20px;
	background: #aaa;
}

.header{
	position: relative;
	padding: 30px 0 20px;
	background: #fafafa;
}

.header:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #fff;
	background-image: linear-gradient(#fafafa,#fff);
}

.logo{
	font-size: 3.5rem;
	color: #000;
	margin-bottom: 10px;
}

.mac{
	position: relative;
	margin: auto;
	padding-top: 1.5rem;
	width: 15rem;
	height: 7.5rem;
	text-align: center;
	background: linear-gradient(to right bottom,#fff,#eee);
	border: 6px solid #222;
	border-width: 6px 6px 8px;
	border-radius: 8px 8px 0 0;
}

.mac:after{
	content: '';
	position: absolute;
	width: 134%;
	left: -17%;
	bottom: -14px;
	height: 6px;
	border-radius: 0 0 40px 40px / 0 0 5px 5px;
	background: #ccc;
}

.mac p{
	font-size: 1rem;
	color: #333;
}



/**标签样式定义**/
.articleListPage-tags-cnt{
	margin-bottom: 20px;
}

.articleListPage-tags{
	width: 100%;
	background: #fff;
	box-shadow: 0 1px 0 rgba(0,0,0,.2);
	z-index: 5;
}

.abstract{
	padding: 12px 0 5px 5px;
}

.abstract a.active{
	background: #f70;
	color: #FFF;
}

.abstract a{
	position: relative;
	display: inline-block;
	max-width: 100%;
	height: 24px;
	margin: 0 10px 5px 0;
	line-height: 24px;
	padding: 0 8px 0 18px;
	border-radius: 0 4px 4px 0;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.abstract a:hover{
	background: #333;
	color: #fff;
}

.abstract a span{
	opacity: .3;
	padding: 0 0 0 5px;
}

.abstract a:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-width: 12px 12px 12px 0;
	border-color: #fff transparent;
	border-style: solid;
}

.abstract a:after{
	position: absolute;
	content: '';
	width: 4px;
	height: 4px;
	top: 10px;
	left: 8px;
	border-radius: 100%;
	background: #fff;
}


